<launch>

    <node pkg="artigo_framework" type="algae_detector_server"    name="algae_detector"
         output="screen"/>

    <node pkg="artigo_framework" type="coverage_server"          name="coverage"
         output="screen"/>

    <node pkg="artigo_framework" type="master_node"              name="master"
         output="screen"/>

</launch>